.image_input_div
{
    width: 80px;
    height: 80px;
}
.image_input_div img
{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.badges
{
	padding:5px;
	border-radius: 100% !important;
}


